@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .art {
    color: #4ade80; /* Tailwind's 'green-400' */
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.console .cursor {
  animation: blink 1s step-end infinite;
}
