/* src/fonts.css */
@font-face {
    font-family: 'CourierPrime-Regular';
    src: url('../assets/fonts/CourierPrime-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}